footer
    .container  
        .footer
            .footer__item
                a(href="index.html").footer__logo.h2  osmos
                p.footer__subtitle Copyright © OSMOS 2020. Все права защищены
                p.footer__subtitle Пользовательское соглашение 
                p.footer__subtitle Соглашение об обработке персональных данных
            .footer__item
                nav.footer__menu
                    h2.footer__menu-title.h3 меню
                    ul.footer__menu-list 
                        li.footer__menu-item
                            a(href="#").footer__menu-link Главная
                        li.footer__menu-item
                            a(href="#").footer__menu-link Почему masteric?
                        li.footer__menu-item
                            a(href="#").footer__menu-link До и после
                        li.footer__menu-item
                            a(href="#").footer__menu-link Как заказать? 
                        li.footer__menu-item
                            a(href="#").footer__menu-link Контакты
                        li.footer__menu-item
                            a(href="#").footer__menu-link Мнение эксперта
                        li.footer__menu-item
                            a(href="#").footer__menu-link Режимы
                        li.footer__menu-item
                            a(href="#").footer__menu-link Комплектация
                        li.footer__menu-item
                            a(href="#").footer__menu-link Рекомендуемые средства для ухода  
                        li.footer__menu-item
                            a(href="#").footer__menu-link Как это рабтает?
            .footer__item
                .footer__contacts
                    .footer__contacts-item
                        img(src="img/phone.svg", alt="телефон")
                        p +7(499)383-45-12
                    .footer__contacts-item
                        img(src="img/telegram.svg", alt="телеграм")
                        p +7(922)2-170-491
                    .footer__contacts-item
                        img(src="img/whatsapp.svg", alt="вацап")
                        p +7(922)2-170-491
                    .footer__contacts-item
                        img(src="img/mail.svg", alt="почта")
                        p support@osmos-tech.ru
script(src = "https://code.jquery.com/jquery-3.5.1.min.js")
script(src = "//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js")
script(src ="index.min.js")
script(src ="main.js")