header
    .container
        .logo
            a(href="index.html") osmos
        .menu-icon
            span
        nav.menu
            ul.menu__list
                    li.menu__item
                        a(href="#").menu__link Главная
                    li.menu__item
                        a(href="#").menu__link Почему masteric?
                    li.menu__item
                        a(href="#").menu__link До и после
                    li.menu__item
                        a(href="#").menu__link Как заказать? 
                    li.menu__item
                        a(href="#").menu__link Контакты
        .question-phone
            p +7(499)383-45-12
            span по всем вопросам