@media (max-width: 1200px) {
    
}

@media (max-width: 1000px) {
    
}

@media (max-width: 910px) {
    .sale__timer {
        max-width: 460px;
    }
    header::before {
        background-image: url(img/header-bg-svg-768.svg);
        height: 124px;

    }
    header {
        height: 102px;
        margin-bottom: 40px;
        .container {
            justify-content: space-around;
        }
    }
    .logo {
        order: 1;
        font-size: 40px;
    }
    .menu-icon {
        order: 0;
    }
    .question-phone {
        order: 2;
    }
    .menu {
        display: flex;
        justify-content: flex-end;
        background-color: #000;
        overflow: hidden;
        width: 100%;
        z-index: 4;
        position: fixed;
        right: 0;
        height: 0;
        top: 0;
        opacity: 0.8;
        transition: 0.3s;

        .menu__link {
            color: #fff;
            font-size: 30px;
            width: 100%;
        }
        .menu__item + .menu__item {
            margin-left: 0;
            margin-top: 50px;
        }
    }
    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-right: 15px;
    }
    .menu__active {
        height: 100vh;
        transition: 0.3s;
    }
    .menu-icon {
        display: flex;
        align-items: center;
        width: 40px;
        position: relative;
        cursor: pointer;
        height: 32px;
        z-index: 5;
        span, ::before, ::after {
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #fff;
        }
        ::after, ::before {
            content: '';
            display: block;
            transition: 0.2s;
        }
        ::after {
            transform: translateY(10px);
        }
        ::before {
            transform: translateY(-10px);
        }
    }
    .menu-icon__active span {
        height: 0;
        background-color: #fff;
    }
    .menu-icon__active span::before {
        transform: rotate(45deg);
        background-color: #fff;
    }
    .menu-icon__active span::after {
        transform: rotate(-45deg);
        background-color: #fff;
    }
    .menu__active {
        height: 100vh;
        transition: 0.3s;
    }
    .menu-icon__active {
    }
    .logo a{
        color: $white;
    }
    #head::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 100%;
        width: 100%;
        height: 610px;
        background-image: url(img/bg-svg-adaptive-768.svg);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -2;
    }
    .head-info {
        order: 1;
        text-align: right;
    }
    .head {
        height: 60vh;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .head-image {
        position: relative;
        img {
            display: none;
        }
    }
    .head-image {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 915px;
        background-image: url(img/768-head-photo.png);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
    }
    .head-info__subtitle {
        font-size: 18px;
    }
    .head-info__price {
        order: 0;
        margin-left: 0;
    }
    .head-info__button {
        order: 1;
        margin-left: 20px;
        
    }
    .head-info__cta {
        justify-content: flex-end;
    }
}

@media (max-width: 768px) {
    
    .opinion__info {
        flex-direction: column;
    }
    .opinion__image {
        order: 0;
        margin-left: 0;
        width: 100%;
        img {
            width: 100%;
        }
    }
    .opinion__text {
        order: 1;
        .opinion__cta {
            margin-top: 25px;
        }
    }
    #opinion {
        padding-top: 230px;
        padding-bottom: 140px;
        background-image: url(img/bg-svg-expert-768.svg);

    }
    .opinion__button {
        background: #fff;
        color: $accent;
    }
    .opinion__price {
        color: $white;
    }
    .opinion__text-item {
        max-width: 100%;
    }
    .mods__list {
        flex-direction: column;
        align-items: center;
    }
    .mods__item {
        margin-bottom: 20px;
    }
    .sale__info {
        flex-direction: column;
        align-items: center;
    }
    .sale__set {
        order: 1;
        margin-top: 30px;
    }
    .sale__timer {
        order: 0;
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sale {
        padding: 120px 0;
    }
    .timer {
        color: $white;
    }
    .howOrder__list {
        flex-direction: column;
        align-items: center;
    }
    .howOrder__item + .howOrder__item {
        margin-top: 40px;
    }
    .footer__item  + .footer__item{
        margin-top: 40px;
    }
    #contacts {
        padding-bottom: 50px;
    }
    #contacts::after {
        background-image: url(img/bg-svg-footer-768.svg);
        padding-bottom: 50px;
        padding-top: 125px;
    }
    .contacts__title {
        color: $white;
    }
    .contacts__title::before {
        background-color: #fff;
    }
    .contacts__form-input {
        background-color: transparent;
        border: 2px solid $white;
        color: $white;
    }
    input:-ms-input-placeholder {
        color: $white;
    }
    input::-webkit-input-placeholder {
        color: $white;
    }
    input:-moz-placeholder {
        color: $white;
    }
    input::-moz-placeholder {
        color: $white;
    }
    input::-ms-input-placeholder {
        color: $white;
    }
    .contacts__form-button {
        background: #fff;
        color: $accent;
    }
    .contacts__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .contacts__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contacts__form {
        align-items: center;
    }
    #recommendation::before {
        font-size: 48px;
    }
    #solution {
        margin-top: 200px;
    }
    #howOrder {
        margin-bottom: 200px;
    }
}

@media (max-width: 700px) {
    #head::after {
        height: 520px;
    }
    .head-info__subtitle {
        color: $text;
    }
    .head-image {
        bottom: -200px;
    }
}

@media (max-width: 600px) {
    .equipment__info {
        position: relative;
        flex-direction: column;
        margin-top: 40px;
    }
    .equipment__image {
        top: 0;
    }
    .equipment__item {
        .right {
            text-align: left;
        }
    }
    #recommendation::before {
        font-size: 40px;
    }
    .result__info {
        flex-direction: column;
    }
    .result__info-images {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .work__info {
        flex-direction: column-reverse;
    }
    .work__image {
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
        img {
            width: 100%;
        }
    }
}

@media (max-width: 470px) {
    .slick-track {
    }
    .recommendation__item {
        max-width: 100%;
    }
    .slick-next {
        right: 0;
    }
    .slick-prev {
        left: 0;
    }
}

@media (max-width: 420px) {
    .head-info__subtitle, .question-phone {
        display: none;
    }
    #head::after {
        height: 400px;
    }
    .cta {
        padding: 19px 40px;
    }
    header {
        margin-bottom: 0;
    }
    .head {
        height: 75vh;
        position: relative;
    }
    .head-image {
        background-image: url(img/bg-head-420.png);
        bottom: 0;
        height: 407px;
    }
    .head-info__cta {
        margin-top: 25px;
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .head-info__price {
        margin-top: 15px;
        font-size: 16px;
    }
    .timer {
        font-size: 70px;
        margin-bottom: 50px;
    }
    #solution {
        margin-top: 0;
    }
    .solution {
        margin-top: 140px;
    }
    .head-info__title {
        font-size: 32px;
    }
}

@media (max-width: 360px) {
    %h2 {
        position: relative;
        padding-bottom: 20px;
    }
    .h2::before {
        bottom: 0;
        position: absolute;
    }
    #head::after {
        background-image: url(img/bg-header-360.svg);
        height: 200px;
    }
    %h1, %h2 {
        font-size: 24px;
    }
}
@media (max-width: 320px) {
    header {
        margin-bottom: 30px;
    }
    .timer {
        font-size: 56px;
    }
}