@import '../../node_modules/normalize.css/normalize';
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&family=Montserrat:wght@500;600&family=Open+Sans:wght@800&display=swap');
@import 'variables';
@import 'mixins';
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    color: $text;
    background-color: $background;
}
p, h1, h2, h3, h4, h5, h6, ul {
    padding: 0;
    margin: 0;
}
a {
    color: $text;
    text-decoration: none;
    cursor: pointer;
}
.container {
    @extend %container;
}
.h1 {
    @extend %h1;
}
.h2 {
    @extend %h2;
}
.h2::before {
    content: '';
    max-width: 269px;
    width: 100%;
    height: 5px;
    background-color: $accent;
    margin-right: 35px;
}
.h3 {
    @extend %h3;
}
.cta {
    @extend %cta-btn;
}

.menu-icon {
    display: none;
    align-items: center;
    width: 40px;
    position: relative;
    cursor: pointer;
    height: 24px;
    z-index: 5;
    span, ::before, ::after {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #000;
    }
    ::after, ::before {
        content: '';
        display: block;
        transition: 0.2s;
    }
    ::after {
        transform: translateY(10px);
    }
    ::before {
        transform: translateY(-10px);
    }
}
.menu-icon__active span {
    height: 0;
    background-color: #fff;
}
.menu-icon__active span::before {
    transform: rotate(45deg);
    background-color: #fff;
}
.menu-icon__active span::after {
    transform: rotate(-45deg);
    background-color: #fff;
}
.menu__active {
    display: flex;
    height: 100vh;
    transition: 0.3s;
}
.menu-icon__active {
}
.scroll-lock {
    overflow: auto;
}


//header

header {
    margin-top: 22px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

header::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    max-width: 1350px;
    width: 100%;
    height: 904px;
    background-image: url(img/bg-svg-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    a {
        color: $accent;
    }
}

.menu__list {
    display: flex;
    list-style: none;
}

.menu__item + .menu__item {
    margin-left: 35px;
}

.menu__link {
    font-size: 14px;
    color: $white;
}

.question-phone {
    text-align: right;
    color: $white;
    p {
        font-size: 24px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
    span {
        font-size: 14px;
    }
}

// head

.head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 15px;
}

.head-info {
    max-width: 506px;
}

.head-info__title {

}

.head-info__subtitle {
    margin-top: 15px;
    margin-bottom: 48px;
    color: $gray;
    font-size: 14px;
}

.head-info__cta, .opinion__cta {
    display: flex;
    align-items: center;
}

.head-info__button, .opinion__button {
    padding: 24px 91px;
}

.head-info__price, .opinion__price {
    color: $accent;
    margin-left: 35px;
    font-size: 24px;
}

.head-image {

}

// solution

.solution {
    margin-top: 400px;
}

.solution__list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    flex-wrap: wrap;
}

.solution__item {
    max-width: 269px;
}

// howWork

#howWork {
    background-image: url(img/bg-svg-2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 300px;
    padding-bottom: 200px;
    position: relative;
    z-index: 1;
}
#howWork::before{
    content: 'КАК ЭТО РАБОТАЕТ?';
    font-size: $bg-title;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    z-index: 0;
    left: -30px;
    top: 230px;
    color: #4A4A4A;
    opacity: 0.2;
    z-index: -1;
}

.work {

}

.work__title {
    color: $white;
}
.work__title::before {
    background-color: #fff;
}

.work__info {
    margin-top: 87px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work__text {
    p {
        color: $white;
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        max-width: 572px;
    }
    p + p {
        margin-top: 30px;
    }
}

.work__image {
    margin-left: 35px;
    img {
        width: 100%;
    }
}

// result

#result {
    margin-top: 127px;
}

.result__info {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.result__info-list {
    color: $text;
    list-style: none;
}

.result__info-item + .result__info-item {
    margin-top: 30px;
}

.result__info-images {
    margin-left: 10px;
}

// opinion

#opinion {
    background-image: url(img/bg-svg-3.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 300px 0;
    position: relative;
    z-index: 1;
}

#opinion::before {
    content: 'мнение эксперта';
    text-transform: uppercase;
    font-size: $bg-title;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    z-index: 0;
    left: -30px;
    top: 230px;
    color: #4A4A4A;
    opacity: 0.2;
    z-index: -1;
}

.opinion__title {
    color: $white;
}

.opinion__title::before {
    background-color: $white;
}

.opinion__info {
    margin-top: 70px;
    display: flex;
    align-items: flex-start;
}

.opinion__text-item {
    line-height: 35px;
    color: $white;
    font-size: 18px;
    max-width: 573px;
}

.opinion__cta {
    margin-top: 280px;
}

.opinion__image {
    margin-left: 20px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

// mods

.mods__list {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
}

.mods__item {
    max-width: 269px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mods__item-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mods__item-subtitle {
    text-align: center;
    font-size: 14px;
    color: $gray;
}

// sale

#sale {
    background-image: url(img/bg-svg-4.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 230px 0;
    position: relative;
    z-index: 1;
    margin-top: 60px;
}

.sale__info {
    display: flex;
    justify-content: space-between;
}

.sale__title {
    font-size: 65px;
    color: $white;
    font-family: 'Montserrat Alternates', sans-serif;
}

.sale__title::before {
    display: none;
}

.sale__set {
    color: $white;
    max-width: 396px;
}

.sale__set-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.sale__timer {
    max-width: 570px;
    width: 100%;
    font-weight: bold;
}

.timer {
    margin-bottom: 100px;
    font-size: 96px;
    color: $accent;
    font-family: Montserrat;
}

.sale__button {
    padding: 24px 90px;
    background: #fff;
    color: $accent;
}

.equipment__info {
    display: flex;
    align-items: center;
}

.equipment__item {
    max-width: 269px;
    .right {
        text-align: right;
    }
    .left {
        text-align: left;
    }
}

.equipment__item-title {

}

.equipment__item-subtitle {
    margin-top: 16px;
    font-size: 16px;
    color: $gray;
}

.equipment__wrapper {
    .equipment__item {
        margin-bottom: 50px;
    }
}

.equipment__wrapper-image {

}
.equipment__image {
    img {
        width: 100%;
    }
}

// recomendation

#recommendation {
    background-image: url(img/bg-svg-5.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 400px;
    padding-bottom: 150px;
    position: relative;
    z-index: 1;
}

#recommendation::before {
    content: 'рекомендуемые средства для ухода';
    text-transform: uppercase;
    font-size: $bg-title;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    z-index: 0;
    left: -30px;
    top: 330px;
    color: #4A4A4A;
    opacity: 0.2;
    z-index: -1;
}

.recommendation__title {
    color: $white;
}

.recommendation__title::before {
    background-color: $white;
}

.recommendation__list {
    margin-top: 70px;
    position: relative;
    padding-bottom: 94px;
}

.recommendation__item {
    max-width: 269px;
    font-size: 14px;
    text-align: center;
    color: $white;
    font-family: Montserrat;
    font-weight: 300;
    position: relative;
}

.recommendation__item:last-child {
}

.recommendation__item img{

}

.recommendation__item-title {
    margin-bottom: 10px;
}

.recommendation__item-subtitle {
}

.slick-track {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.slick-list {
    overflow: hidden;
}
.slick-arrow {
    position: absolute;
    right: 30px;
    font-size: 0;
    bottom: 0;
    width: 24px;
    background-color: transparent;
    border: none;
    height: 42px;
    outline: none;
    cursor: pointer;
}
.slick-next {
    background-image: url(img/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.slick-prev {
    background-image: url(img/arrow-left.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 80px;
}

// how order

.howOrder__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 70px;
}

#howOrder, #contacts {
    margin-top: 140px;
}

.howOrder__item {
    max-width: 220px;
    font-size: 14px;
}

//contacts
#contacts {
    position: relative;
    padding-bottom: 140px;
}

#contacts::after {
    content: '';
    position: absolute;
    background-image: url(img/bg-svg-6.svg);
    background-size: cover;
    max-width: 1400px;
    width: 100%;
    max-height: 650px;
    height: 100%;
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.contacts__title {

}

.contacts__wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 573px;
    width: 100%;
}

.contacts__form-input {
    border: 2px solid $accent;
    margin-bottom: 40px;
    padding: 17px 40px;
    width: 100%;
    outline: none;
    border-radius: 10px;
}

.contacts__form-button {
    padding: 24px 29px;
    border: none;
}

.contacts__list {

}

.contacts__item {
    display: flex;
    align-items: flex-start;
    color: $white;
    margin-top: 33px;
    img {
        margin-right: 10px;
    }
}

// footer

footer {
    background-color: $footer;
}





.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $white;
    padding: 38px 0;
    align-items: flex-start;
}

.footer__item {

}

.footer__logo {
    font-size: 40px;
    margin-bottom: 15px;
    color: $white;
}

.footer__logo::before {
    display: none;
}

.footer__subtitle {
    color: $gray;
    max-width: 262px;
    font-size: 14px;
}

.footer__subtitle + .footer__subtitle {
    margin-top: 15px;
}

.footer__menu-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 510px;
}

.footer__menu-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer__menu-item {
    width: 36%;
    margin-top: 20px;
}

.footer__menu-link {
    color: $white;
    font-size: 16px;
}

.footer__contacts {
    
}

.footer__contacts-item {
    display: flex;
    img {
        margin-right: 10px;
    }
}

.footer__contacts-item + .footer__contacts-item {
    margin-top: 40px;
}

.success__popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
    max-width: 420px;
    width: 100%;
}
.success__exit {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    color: $text;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
}
.success__title {

}

.success__subtitle {
    margin-top: 5px;
    font-size: 16px;
}

.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}

.success__popup-active {
    opacity: 1;
    z-index: 2;
}
.success__bg-active {
    opacity: 0.7;
    z-index: 1;
}

@import 'media';